/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(28, 83, 65);
    font-family: Arial, Helvetica, sans-serif;

}

/*header styles */
header {
    background-color: #18e734;
    color: #fff; 
    border: 24px solid #070003;
    padding: 12px 0;
    
    
} 

.container {
    display: block;
    margin: 0 auto;
    width: 70% ; 
    border: 10px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width:300px ;
    height: 300px;
    border-radius:25%;
    border: 5px solid #18e734;
    

}

p {
    padding: 10px;
}

h2 , h3{
    padding: 10px;
}
/* ...and so on */